@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7C3AED;
  --primary-light: #EDE9FE;
  --primary-dark: #5B21B6;
}

* { font-family: 'Nunito', sans-serif; }

body {
  background-color: #F5F3FF;
  color: #1E1333;
  min-height: 100dvh;
}

/* Scrollbar delgada */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #C4B5FD; border-radius: 99px; }

/* Ocultar flechas en inputs number */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button { -webkit-appearance: none; }
input[type='number'] { -moz-appearance: textfield; }
